.rank-icon {
    width: 80px;
    height: 80px;
    transition: 0.3s ease;
}

.beginner {
    filter:
        hue-rotate(90deg)
        drop-shadow(0 0 12px #4dff4d);
}

.experienced {
    filter:
        hue-rotate(35deg)
        drop-shadow(0 0 12px #ffd54d);
}

.listgrinder {
    filter:
        hue-rotate(5deg)
        drop-shadow(0 0 12px #ff8c1a);
}

.toplist {
    filter:
        drop-shadow(0 0 18px #ff3030);
}

.rank-icon:hover{
    transform: scale(1.1);
}
